appsettings.json

/WebAPI/appsettings.json
/SonarQubeBackendProyectoPersonal.bat
.sonarqube/
/BackendProyectoPersonal/.vs
.sonarqube/

/.sonarqube/conf/1/FilesToAnalyze.txt
/.sonarqube/conf/1/SonarProjectConfig.xml
/.sonarqube/conf/2/FilesToAnalyze.txt
/.sonarqube/conf/2/SonarProjectConfig.xml
/.sonarqube/conf/4/FilesToAnalyze.txt
/.sonarqube/conf/SonarQubeAnalysisConfig.xml
/.sonarqube/out/.sonar/report-task.txt
/.sonarqube/out/1/output-cs/file-metadata.pb
/.sonarqube/out/1/output-cs/log.pb
/.sonarqube/out/1/output-cs/metrics.pb
/.sonarqube/out/1/output-cs/symrefs.pb
/.sonarqube/out/1/output-cs/token-cpd.pb
/.sonarqube/out/1/output-cs/token-type.pb
/.sonarqube/out/1/Issues.json
/.sonarqube/out/1/ProjectInfo.xml
/.sonarqube/out/2/output-cs/file-metadata.pb
/.sonarqube/out/2/output-cs/log.pb
/.sonarqube/out/2/output-cs/metrics.pb
/.sonarqube/out/2/output-cs/symrefs.pb
/.sonarqube/out/2/output-cs/token-cpd.pb
/.sonarqube/out/2/output-cs/token-type.pb
/.sonarqube/out/2/Issues.json
/.sonarqube/out/2/ProjectInfo.xml
/.sonarqube/out/3/output-cs/metrics.pb
/.sonarqube/out/3/output-cs/symrefs.pb
/.sonarqube/out/3/output-cs/token-cpd.pb
/.sonarqube/out/3/output-cs/token-type.pb
/WebAPI/obj/Debug/net6.0/WebAPI.csproj.AssemblyReference.cache
/Shared/obj/Debug/net6.0/Shared.dll
/Shared/obj/Debug/net6.0/Shared.pdb
/Shared/bin/Debug/net6.0/Shared.dll
/Shared/bin/Debug/net6.0/Shared.pdb
/WebAPI/obj/Debug/net6.0/WebAPI.pdb
/WebAPI/obj/Debug/net6.0/WebAPI.dll
/WebAPI/bin/Debug/net6.0/WebAPI.pdb
/.sonarqube/out/4/output-cs/metrics.pb
/.sonarqube/out/4/output-cs/symrefs.pb
/.sonarqube/out/4/output-cs/token-cpd.pb
/.sonarqube/out/4/output-cs/token-type.pb
/.sonarqube/out/4/Issues.json
/.sonarqube/out/ProjectInfo.log
/.sonarqube/out/sonar-project.properties
/.vs/BackendProyectoPersonal/DesignTimeBuild/.dtbcache.v2
/.vs/BackendProyectoPersonal/v17/.suo
/Aplication/bin/Debug/net6.0/Application.dll
/Aplication/bin/Debug/net6.0/Application.pdb
/Aplication/bin/Debug/net6.0/Domain.dll
/Aplication/bin/Debug/net6.0/Domain.pdb
/Aplication/bin/Debug/net6.0/Shared.pdb
/Aplication/bin/Debug/net6.0/Shared.dll
/Aplication/obj/Debug/net6.0/Application.csproj.AssemblyReference.cache
/Aplication/obj/Debug/net6.0/Application.dll
/Aplication/obj/Debug/net6.0/Application.pdb
/Domain/bin/Debug/net6.0/Domain.dll
/Domain/bin/Debug/net6.0/Domain.pdb
/Domain/obj/Debug/net6.0/Domain.dll
/Domain/obj/Debug/net6.0/Domain.pdb
/Persistence/bin/Debug/net6.0/Application.dll
/WebAPI/bin/Debug/net6.0/WebAPI.dll
/WebAPI/bin/Debug/net6.0/Shared.pdb
/WebAPI/bin/Debug/net6.0/Shared.dll
/WebAPI/bin/Debug/net6.0/Persistence.pdb
/WebAPI/bin/Debug/net6.0/Persistence.dll
/WebAPI/bin/Debug/net6.0/Domain.pdb
/WebAPI/bin/Debug/net6.0/Domain.dll
/WebAPI/bin/Debug/net6.0/Application.pdb
/WebAPI/bin/Debug/net6.0/Application.dll
/Persistence/obj/Debug/net6.0/Persistence.pdb
/Persistence/obj/Debug/net6.0/Persistence.dll
/Persistence/obj/Debug/net6.0/Persistence.csproj.AssemblyReference.cache
/Persistence/bin/Debug/net6.0/Shared.pdb
/Persistence/bin/Debug/net6.0/Shared.dll
/Persistence/bin/Debug/net6.0/Persistence.pdb
/Persistence/bin/Debug/net6.0/Persistence.dll
/Persistence/bin/Debug/net6.0/Domain.pdb
/Persistence/bin/Debug/net6.0/Domain.dll
/Persistence/bin/Debug/net6.0/Application.pdb
/.vs/BackendProyectoPersonal/FileContentIndex/400e8bf7-2ca6-43a3-bee0-69cba48ae837.vsidx
/.vs/BackendProyectoPersonal/FileContentIndex/9abce761-6f29-4209-8994-0e05673504f0.vsidx
/.vs/BackendProyectoPersonal/FileContentIndex/b30cbcec-c977-490f-b13c-6f78d42016fb.vsidx
/.vs/BackendProyectoPersonal/FileContentIndex/cc51ee7e-8c05-4518-9046-7c5374f54166.vsidx
/.vs/BackendProyectoPersonal/FileContentIndex/05cef35a-0b4b-4584-9a8c-7b0652b87602.vsidx
/.vs/BackendProyectoPersonal/FileContentIndex/0abcbe55-6b14-4cea-b69c-c402bc3461ff.vsidx
/.vs/BackendProyectoPersonal/FileContentIndex/8677d5d6-e1b6-4380-b7f2-18d52939317e.vsidx
/.vs/BackendProyectoPersonal/FileContentIndex/943d499d-9c12-453c-98ac-8491102bb241.vsidx
/.vs/BackendProyectoPersonal/FileContentIndex/9f04151b-858e-409b-ac30-f9d51c11ff5b.vsidx
/.vs/BackendProyectoPersonal/FileContentIndex/dbff3adb-1746-47d4-9ae9-92453e4f2139.vsidx
/.vs/BackendProyectoPersonal/FileContentIndex/0abcbe55-6b14-4cea-b69c-c402bc3461ff.vsidx
/.vs/BackendProyectoPersonal/FileContentIndex/0abcbe55-6b14-4cea-b69c-c402bc3461ff.vsidx
/.vs/BackendProyectoPersonal/FileContentIndex/8677d5d6-e1b6-4380-b7f2-18d52939317e.vsidx
*.vsidx
/Aplication/obj/Debug/net6.0/ref/Application.dll
/Aplication/obj/Debug/net6.0/Application.csproj.CoreCompileInputs.cache
/Aplication/obj/Debug/net6.0/refint/Application.dll
/Aplication/obj/Debug/net6.0/Application.csproj.GenerateResource.cache
/Aplication/obj/Debug/net6.0/Application.Messages.MessageErros.resources
/Domain/obj/Debug/net6.0/ref/Domain.dll
/Domain/obj/Debug/net6.0/refint/Domain.dll
